@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-jetbrains: var(--font-jetbrains-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-jetbrains);
  --font-mono: var(--font-jetbrains);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), ui-monospace, monospace;
}
